.pagination {
  padding: 30px 0px 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
  li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 100%;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        color: white;
        background-color: #fe5f1e;
      }
    }
  }
  :global {
    .selected {
      a {
        color: white;
        background-color: #fe5f1e;
      }
    }
  }
}
