.loading-pane {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
